.card{
    width: 250px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba($Very-Dark-Blue-1, 0.24) 0px 3px 8px;
    & img {
        width: 100%;
        height: 150px;
        display: block;
        
    }
    &__content-div{
        padding: 20px 0px 40px 20px;
        & h3{
            margin-bottom: 10px;
        }
        & > div {
            & > *:nth-child(2){
                margin-left: 5px;
            }
        }
    }
}